<div class="room-container">
	<div class="top-row">
		<div class="left">
			<h2>What would you like to see?</h2>
			<h3>{{ room_count }} Available Rooms</h3>
		</div>
		<div class="right">
			<a href="{% url 'create-room' %}" class="my-btn">Create a new Room?</a>
		</div>
	</div>
	<div class="roomlist">
		{% for room in rooms %}
		<div class="room-item">
			<a href="{% url 'user' room.host.id %}">@{{ room.host }}</a>
			{% if request.user == room.host %}
			<a href="{% url 'update-room' room.id %}" class="room-edit">edit</a>
			<a href="{% url 'delete-room' room.id %}" class="d-delete"></a>
			{% endif %}

			<h5>
				<a href="{% url 'room' room.id %}">{{ room.name }}</a>
				<small>in {{ room.topic.name }}</small>
				<!-- {% url "room" room.id %} = /room/1 -->
			</h5>
		</div>

		{% endfor %}
	</div>
</div>
