:root {
	--primary: #212a3e;
	--secondary: #394867;
	--tertiary: #393e67;
	--textprimary: #f1f6f9;
	--textsecondaty: #9ba4b5;
	--danger: rgb(255, 33, 0);
	--pbutton: aqua;
	--maxwidth: 1440px;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.25rem;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--primary);
	color: var(--textprimary);
	width: 100%;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	/* position: absolute; */
	/* top: 0; */
	/* bottom: 0; */
	/* left: 0; */
	/* right: 0; */
}
.bodyinner {
	max-width: var(--maxwidth);
	padding: 1rem 1rem 0 1rem;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	/* position: relative; */
	overflow-y: auto;
	max-height: 100%;
}
nav {
	max-width: 100vw;
	background-color: var(--secondary);
	/* margin-bottom: 1rem; */
}
.nav-inner {
	max-width: var(--maxwidth);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	margin: 0 auto;
}
.homebtn {
	display: inline-flex;
	gap: 0.5rem;
	align-items: center;
}
.homebtn img {
	height: 2rem;
}
.search {
	flex-grow: 1;
	max-width: 468px;
	background-color: var(--tertiary);
	border-radius: 0.5rem;
	display: flex;
	padding: 0.5rem 0.5rem;
	justify-content: flex-start;
	align-items: center;
	/* min-width: 362px; */
}
.search svg {
	width: 1.5rem;
}
.search label {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	gap: 0.5rem;
	align-items: center;
}
.search input {
	background-color: transparent;
	border: none;
	outline: none;
	flex-grow: 1;
	/* width: 300px; */
	color: var(--textprimary);
}
.navbtns {
	display: flex;
	gap: 1rem;
}
nav a:hover {
	opacity: 0.9;
}
.home-container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap: 1rem;
	min-width: 80%;
	/* margin: 0 1rem; */
}
.topics-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: sticky;
}
.topics-container .search {
	width: calc(100% - 2rem);
	margin: 0 auto;
}
.topic-list {
	padding: 0 1rem 1rem 1rem;
}
.topic-list-item {
}
.bottomrow {
	align-self: center;
}
.room-container .top-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	gap: 1rem;
}

.room-container .top-row h2 {
	color: var(--textprimary);
}
.room-container .top-row h3 {
	font-size: 0.8rem;
	color: var(--textsecondaty);
}
/* .top-row .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
} */
a {
	text-decoration: none;
	color: var(--pbutton);
}

.roomlist {
	/* padding: 0.5rem; */
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.room-item {
	background-color: var(--secondary);
	border-radius: 8px;
	position: relative;
	padding: 1rem;
}
.room-item .toprow {
	margin-bottom: 1rem;
}
.room-item .content {
	margin-bottom: 1rem;
}
.room-message .d-delete {
	position: absolute;
	right: 8px;
	top: 8px;
}
.room-item .d-delete {
	position: absolute;
	right: 8px;
	top: 8px;
}
.room-item .room-edit {
	position: absolute;
	right: 42px;
	top: 8px;
}
.room-item .bottomrow {
	margin-left: 2rem;
}
.bottomrow > .flex-col {
	flex-grow: 1;
}
.profileinfo,
.userinfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	gap: 1rem;
}

.fullprofile {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	border: 2px solid var(--pbutton);
}
.profile-container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap: 1rem;
	min-width: 80%;
}

.feed {
	max-height: 100%;
	overflow-y: auto;
}
.feed .content {
	/* overflow-y: auto; */
}
.d-delete {
	--size: 1.5rem;
	width: var(--size);
	height: var(--size);
	position: relative;
	box-shadow: 1px 1px black;
}
.d-delete:after {
	content: "";
	height: 1rem;
	border-left: 2px solid var(--danger);
	position: absolute;
	transform: rotate(45deg);
	left: calc(var(--size) / 2);
	top: calc(var(--size) / 4);
}
.d-delete:before {
	content: "";
	height: 1rem;
	border-left: 2px solid var(--danger);
	position: absolute;
	transform: rotate(-45deg);
	left: calc(var(--size) / 2);
	top: calc(var(--size) / 4);
}
.d-delete:hover:after {
	border-left: 4px solid var(--danger);
}
.d-delete:hover:before {
	border-left: 4px solid var(--danger);
}
.room-page-container {
	/* position: relative; */
	/* top: 0; */
	/* bottom: 0; */
	/* left: 0; */
	/* right: 0; */

	max-height: 100%;
	flex-grow: 1;
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 1rem;
	overflow-y: auto;
}
.message-container {
	position: relative;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	overflow-y: hidden;
}
.message-container .content {
	flex-grow: 1;
	overflow-y: auto;
}
.participants {
}
.widget {
	display: flex;
	flex-direction: column;
	background-color: var(--secondary);
	border-radius: 8px;
	max-height: 100%;
	overflow-y: auto;
}
.widget .toprow {
	background-color: var(--tertiary);
	padding: 0.5rem 1rem;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: inline-flex;
	gap: 1rem;
	align-items: center;
}
.widget .content {
	padding: 0.5rem 1rem;
}
.widget .bottom-row {
	padding: 0 1rem 1rem 1rem;
	display: flex;
	justify-content: space-between;
}
.flex {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}
.flex-col {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.content {
	gap: 1rem;
}
.miniprofile {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	border: 2px solid var(--pbutton);
}
.minicomment {
	background-color: var(--primary);
	padding: 0.5rem 1rem;
	padding-right: 2rem;
	position: relative;
}
.minicomment .d-delete {
	position: absolute;
	top: 4px;
	right: 4px;
}
.timestamp {
	color: var(--textsecondaty);
}
.mobile-show {
	display: none;
	max-width: 468px;
	margin: 0 auto;
	margin-bottom: 1rem;
	padding: 1rem;
}
.mobile-show input {
	width: 100%;
	font-size: 1.5rem;
}
.mobile-menu {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.mobile-menuItems {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}
.btn {
	background-color: transparent;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	/* cursor: pointer; */
	transition: all ease-in-out 0.3s;
	padding: 1rem 2rem;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	font-weight: 500;
}
.btn-main {
	background-color: var(--primary);
	color: var(--textprimary);
}
.btn-secondary {
	border-radius: 0.5rem;
	background-color: var(--pbutton);
	padding: 0.5rem;
	color: var(--primary);
}
.btn:hover {
	opacity: 0.9;
}
.btn-pill {
	border-radius: 10rem;
	font-size: 1.25rem;
	font-weight: 700;
	padding: 0.25rem 1rem;
	background: transparent;
	border: 2px solid var(--pbutton);
}
.form-widget {
	max-width: 468px;
	margin: 0 auto;
}
.formtable {
	display: flex;
	flex-direction: column;
	/* background-color: var(--secondary); */
	border-radius: 8px;
	padding: 1rem;
	gap: 1rem;
}
.form-group {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.messages {
	padding: 0.5rem 1rem;
	color: var(--danger);
}
.meta {
	padding: 0 1rem;
	align-items: center;
}
.meta .flex-col {
	gap: 0;
}
.recent-line {
	background-color: red;
	align-self: stretch;
	position: relative;
}
.recent-line::after {
	content: "";
	position: absolute;
	height: 1rem;
	border: 1px solid var(--textprimary);
	top: 0;
	left: -1rem;
}
.recent-line::before {
	content: "";
	position: absolute;
	width: 1rem;
	border: 1px solid var(--textprimary);
	top: 1rem;
	left: -1rem;
}
.description {
	width: 100%;
	/* background-color: var(--primary); */
	color: var(--textsecondaty);
	margin-top: 0.5rem;
}
.room-message {
	position: relative;
	padding: 1rem;
	border-bottom: 1px dotted var(--textsecondaty);
}
.comment {
	padding: 0rem 1rem;
}
.comment-form {
	background-color: var(--tertiary);
	border-radius: 0.5rem;
	display: flex;
	padding: 0.5rem 0.5rem;
	justify-content: flex-start;
	align-items: center;
	/* min-width: 362px; */
}
.comment-form label {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	gap: 0.5rem;
	align-items: center;
}
.comment-form input {
	background-color: transparent;
	border: none;
	outline: none;
	flex-grow: 1;
	/* width: 300px; */
	color: var(--textprimary);
}
#to-top {
	background-color: red;
	z-index: 777;
	--size: 1.5rem;
	width: var(--size);
	height: var(--size);
	position: sticky;
	/* left: calc(100vw - 3rem); */
	/* top: calc(100vh - 4rem); */
	box-shadow: 1px 1px black;
}
/* #to-top:after {
	content: "";
	height: 1rem;
	border-left: 2px solid var(--danger);
	position: absolute;
	transform: rotate(45deg);
	left: calc(var(--size) / 2);
	top: calc(var(--size) / 4);
}
#to-top:before {
	content: "";
	height: 1rem;
	border-left: 2px solid var(--danger);
	position: absolute;
	transform: rotate(-45deg);
	left: calc(var(--size) / 2);
	top: calc(var(--size) / 4);
}
#to-top:hover:after {
	border-left: 4px solid var(--danger);
}
#to-top:hover:before {
	border-left: 4px solid var(--danger);
} */
@media screen and (min-width: 1440px) {
	.bodyinner {
		margin: 0 auto;
	}
}
@media screen and (max-width: 768px) {
	.mobile-hide {
		display: none;
		max-height: 100%;
		overflow-y: auto;
	}
	.home-container {
		display: block;
	}
	/* .mobile-wide {
		min-width: 468px;
		margin: 0 1rem;
	} */
	.mobile-show {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.nav-inner {
		justify-content: space-between;
	}
	.room-page-container {
		/* display: flex; */
		/* justify-items: stretch; */
		gap: 0;
		grid-template-columns: 1fr 0;
	}
}
.participants .participant-name {
	font-size: 1.5rem;
}
.form-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media screen and (max-width: 468px) {
	.room-container .top-row {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		justify-content: center;
	}
	.top-row .right {
		flex-grow: 1;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	/* .btn {
		display: flex;
		justify-content: center;
	} */
	.mobile-menuItems {
		display: flex;
		flex-direction: column;
	}
}
