{% extends "main.html" %} {% block content %}
<div class="container">
	{% if page == "login" %}
	<form method="post" action="">
		{% csrf_token %}
		<!-- {{form.as_p}} -->
		<label for="username" class="form-label">Username:</label>
		<input
			type="text"
			class="form-control"
			name="username"
			placeholder="enter username"
		/>
		<label for="password" name="username" class="form-label">Password:</label>
		<input
			type="text"
			class="form-control"
			name="password"
			placeholder="enter password"
		/>
		<input type="submit" value="Login" />
	</form>
	<p>havent signed up yet?</p>
	<a href="{% url 'register' %}">Signup</a>
	{% else %}
	<form method="post" action="">
		{% csrf_token %} {{ form.as_p }}
		<input type="submit" value="Register" />
	</form>
	<p>havent signed up yet?</p>
	<a href="{% url 'login' %}">Login</a>
	{% endif %}
</div>
{% endblock content %}
